<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <nav>
    <img src="https://cdn.discordapp.com/attachments/951908277229338686/953758679478456330/Smart_ToDo.png">
  </nav>
  <title>Registration</title>
  <link rel="stylesheet" href="/styles/background-color.css" type="text/css" />
</head>
<body>
  <div>
    <form method="POST" action="/users/register">
      <h3>Please register with a username:</h3>
      <input type="name" name="submit" placeholder="Username"/>
      <button type="submit">register</button>
    </form>
  </div>
</body>
</html>
