body {
  align-items: center;
  background: -webkit-linear-gradient(top left, #13d3ee, #e2fb1c);
  background: -moz-linear-gradient(top left, #13d3ee, #e2fb1c);
  background-color: gradient(to bottom left, #13d3ee, #e2fb1c);
  background-attachment: fixed;
}
