
body {
  align-items: center;


  /* Created with https://www.css-gradient.com */
  background: #13d3ee;
  background: -webkit-linear-gradient(top left, #13d3ee, #e2fb1c);
  background: -moz-linear-gradient(top left, #13d3ee, #e2fb1c);
  background: linear-gradient(to bottom right, #13d3ee, #e2fb1c);

  div {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
  align-items: center;
  font-family: 'Roboto', sans-serif;


  .logo {
    font-size: 24px;
    font-weight: 900;
  }

  div {
    display: flex;
  }

  .nav-corner {
    display: flex;
    flex-direction: row;
  }

  #login-logout {
    display: inline-flex;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

#logout {
  margin-left: 10px;
}
