
body {
  div {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 15px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
  align-items: center;
  font-family: 'Roboto', sans-serif;


  .logo {
    font-size: 24px;
    font-weight: 900;
  }

  div {
    display: flex;
  }

  .nav-corner {
    display: flex;
    flex-direction: row;
  }

  #login-logout {
    display: inline-flex;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

#logout {
  margin-left: 10px;
}

button {
  background-color: white;
  border: none;
}

input {
  background-color: white;
  border: none;
}

#register {
  margin-left: 10px;
}
