body {
  align-items: center;
  min-height: 100vh;

/* Created with https://www.css-gradient.com */
background: #13D3EE;
background: -webkit-linear-gradient(top left, #13D3EE, #E2FB1C);
background: -moz-linear-gradient(top left, #13D3EE, #E2FB1C);
background: linear-gradient(to bottom right, #13D3EE, #E2FB1C);

  div {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
  align-items: center;

  .logo {
    font-size: 24px;
    font-weight: 900;
  }

  div {
    display: flex;
  }

  .nav-corner {
    display: flex;
    flex-direction: row;
  }

  #login-logout {
    display: inline-flex;
  }

}

.container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

#logout {
  margin-left:10px;
}
