.todo-container {
  width: 24%;
  height: 80%;
  border-color: white;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0;
}

#todo-form {
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    width: 80%;
    height: 50px;
    border: none;
    margin-right: 10px;
    text-align: center;
  }

}

article {
  background: pink;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: column;

div{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;

  h4 {
    padding-left: 10px;
  }

}

  footer {
    margin: -15px;
    padding: 0 15px;
    display: flex;
    justify-content: space-evenly;
  }

}

