.todo-container {
  width: 24%;
  height: 80%;
  border-color: white;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0;
}

#todo-form {
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    width: 80%;
    height: 50px;
    border: none;
    margin-right: 10px;
    text-align: center;
  }

}

article {
  border: 1px solid black;
  width: 90%;
  height: 50px;
  display: flex;
}
