.todo-container {
  min-height: 250px;
  height: fit-content;
  width: 24%;
  border-color: white;
  background-color: white;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-bottom: 10px;
  border-radius: 15px 50px 30px ;
  font-family: 'Hubballi', cursive;
}

#todo-form {
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    width: 80%;
    height: 50px;
    border: none;
    margin-right: 10px;
    text-align: center;
  }

}

article {
  margin-top: 15px;
  background: #f5fff5;
  border-radius: 15px;
  width: 90%;
  height: auto;
  min-height: fit-content;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;

div{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;

  h4 {
    padding-left: 10px;
  }

}

  footer {
    margin: -15px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;


    btn-hover:hover{
    color: red;
    }

    select {
      height: 20px;
      width: 50px;
    }
    form{
      margin: 12px;
      height: 20px;
    }
  }

}

article:hover {
  box-shadow: 5px 10px lightgray;
}
